@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envato-new-outline:before {
  content: "\e900";
}
.icon-direct-purchase-outline:before {
  content: "\e903";
}
.icon-envato-new:before {
  content: "\e901";
}
.icon-Direct-purchase-fill:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e904";
}
.icon-Check:before {
  content: "\e905";
}
.icon-computer-desktop:before {
  content: "\e906";
}
.icon-Dashbaord-outline:before {
  content: "\e907";
}
.icon-Domain-outline:before {
  content: "\e908";
}
.icon-domain:before {
  content: "\e909";
}
.icon-envato-1-2:before {
  content: "\e90a";
}
.icon-envato-1:before {
  content: "\e90b";
}
.icon-envato:before {
  content: "\e90c";
}
.icon-Hosting-outline:before {
  content: "\e90d";
}
.icon-Invoice-outline:before {
  content: "\e90e";
}
.icon-invoice:before {
  content: "\e90f";
}
.icon-iphone:before {
  content: "\e910";
}
.icon-Logout:before {
  content: "\e911";
}
.icon-megaphone-1:before {
  content: "\e912";
}
.icon-megaphone-2:before {
  content: "\e913";
}
.icon-money-1:before {
  content: "\e914";
}
.icon-Profile:before {
  content: "\e915";
}
.icon-Profile-1:before {
  content: "\e916";
}
.icon-Report-outline:before {
  content: "\e917";
}
.icon-save-money:before {
  content: "\e918";
}
.icon-servers:before {
  content: "\e919";
}
.icon-transaction:before {
  content: "\e91a";
}
.icon-Vector-Stroke:before {
  content: "\e91b";
}
.icon-Warning:before {
  content: "\e91c";
}
